# for environment
python-dotenv
# for type checking
mypy
# for testing
pytest
pytest-cov
pytest-asyncio
pytest-mock
# for fastapi
requests
fastapi[all]
gunicorn
uvicorn[standard]
# for rdb
sqlalchemy[asyncio]
alembic
psycopg2-binary # for alembic using postgresql
asyncpg # for postgres using async
# for jwt 
PyJWT
